################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyCalcLib.Tests/obj/Debug
/.vs/MyCalcLib/v15
